# SPDX-License-Identifier: BSD-3-Clause
allure-results/
cookiesFile
.env
*.sw[nop]
*.py[co]
*~
*.log
.DS_Store
.project
.settings
results/
mochawesome-report/
TAGS
config.json
node_modules/
package-lock.json
*.vswp
config.json
reports/**
!.gitkeep
.vscode
